﻿@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        @*<form id="submituser" action="user">*@
            <br /><br />
            <label for="firstname">First Name</label>
            <input id="firstname" name="firstname" />
            <br /><br />
            <label for="lastname">Last Name</label>
            <input id="lastname" name="lastname" />
            <br /><br />
            <button id="submituser">Submit</button>
            <br /><br />
            <span id="welcomemessage"></span>
        @*</form>*@
    </div>

</div>

@section Scripts{
    <script>
        (function ($, window, document, undefined) {
            $(document).ready(function () {
                $.ajax({
                    url: "api/name"
                })
                .done(function (data) {
                    $("#firstname").val(data.firstname);
                    $("#lastname").val(data.lastname);
                })


                $("#submituser").click(function () {
                    $("#welcomemessage").html(reverseString($("#firstname").val()) + " " + reverseString($("#lastname").val()));
                })
            })

            function reverseString(str) {
                var newString = "";
                for (var i = str.length - 1; i >= 0; i--) {
                    newString += str[i];
                }
                return newString;
            }
        })(jQuery, window, document);
    </script>
}
